/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
/missing
/ltmain.sh
/libtool
/install-sh
/depcomp
*.o
*~
/flam3.pc
/mkinstalldirs
/compile
/flam3-animate
/flam3-render
/flam3-genome
/flam3-convert
/.idea/
